.list-categories__row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  background-color: #e8eaf5;
  line-height: 2.5;
}

.column-category-name {
  flex: 0 0 25%;
  text-align: left;
}

.column-category-active,
.column-category-archived {
  flex: 0 0 15%;
  text-align: center;
}
